* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  height: 100vh;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-primary: #15304b;
  --color-secondary:#ef673d;
  --color-white: #FFFFFF;
  --color-black: rgb(41, 41, 41);
  --color-grey-0: #373d4b;
  --color-grey-1: #a3a8a4;
  --color-grey-2: #b2becd;
  --color-grey-3: #d8dee6;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(63, 62, 62, 0.849);
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.main {
  height: 100vh;
  width: 100%;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .nav {
  height: 9rem;
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  background-color: var(--color-primary);
}

.main .nav h1 {
  line-height: 2;
  color: white;
  padding: 10px;
}

.main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main .rtCon {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  min-width: 400px;
  height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .rtCon form {
  display: -ms-grid;
  display: grid;
  font-size: 1.5rem;
  width: 75%;
}

.main .rtCon form input {
  border: 1px solid #c4c3c3;
  text-align: center;
}

.main .rtCon .formCon {
  visibility: hidden;
  text-align: center;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.main .rtCon .formCon.active {
  visibility: visible;
}

.main .rtCon .rtContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main .rtCon .rtContent > h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.main .rtCon .rtContent .rtProjectTitle {
  font-size: 3rem;
  font-weight: bold;
}

.main .rtCon .rtContent .addBtn {
  font-size: 2rem;
}

.main .rtCon .rtContent .taskItem {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .01fr 5fr .2fr;
      grid-template-columns: .01fr 5fr .2fr;
  gap: 1rem;
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .rtCon .rtContent .taskItem .icon {
  -ms-grid-column-align: end;
      justify-self: end;
}

.main .rtCon .rtContent .taskItem .icon svg {
  font-size: 1.5rem;
  opacity: .7;
}

.main .rtCon .rtContent .taskItem .icon svg:hover {
  opacity: 1;
}

.main .rtCon .rtContent .taskItem input:checked + h1 {
  text-decoration: line-through;
  opacity: .5;
}

.main .rtCon .rtContent .taskItem:hover, .main .rtCon .rtContent .addBtn:hover {
  background-color: var(--color-grey-2);
}

.main .ltCon {
  min-width: 425px;
  font-size: 2.5rem;
  background-color: var(--color-secondary);
  cursor: pointer;
}

.main .ltCon .allCon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 3rem;
  padding: 3rem;
  padding-left: 5rem;
  font-size: 3rem;
}

.main .ltCon .allCon .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.main .ltCon .allCon .home .homeItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color-white);
  gap: 1rem;
}

.main .ltCon .allCon .home .homeItem.active {
  border-bottom: 3px solid var(--color-grey-3);
  border-radius: 5%;
}

.main .ltCon .allCon .home .homeItem:hover {
  background-color: var(--color-grey-5);
}

.main .ltCon .allCon .home .homeItem svg {
  font-size: 2.8rem;
}

.main .ltCon .allCon h2 {
  font-weight: bold;
  color: var(--color-white);
}

.main .ltCon .allCon .projectContent {
  font-weight: lighter;
  margin-left: .7rem;
}

.main .ltCon .allCon .projectContent .project:hover {
  background-color: var(--color-grey-2);
}

.main .ltCon .allCon .projectContent .project.active {
  border-bottom: 3px solid var(--color-grey-3);
  border-radius: 5%;
}

.main .footerContainer {
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 100%;
  height: 55rem;
}

.main .footerContainer .footerContent {
  font-size: 1.8rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.main .footerContainer .footerContent .fa-github {
  color: var(--color-white);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.main .footerContainer .footerContent .fa-github:hover {
  -webkit-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
}

@media all and (min-width: 931px) {
  .hamburger {
    display: none;
  }
  .formCon {
    display: none;
    width: 75rem;
    height: 10rem;
    background-color: white;
  }
  .formCon.active {
    display: inline;
  }
  label {
    display: none;
  }
  form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  #title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    width: 100%;
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
  }
  #date {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  #desc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  #pri {
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
  }
  #addForm {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
}

@media all and (max-width: 930px) {
  .content {
    position: relative;
  }
  .ltCon {
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
    height: 100%;
  }
  .ltCon.activeNav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
  }
  .nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    padding: 1rem;
    position: relative;
  }
  .nav .hamburger {
    display: inline-block;
    position: absolute;
  }
  .nav .hamburger .fa-x {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .nav .hamburger.activeHam .fa-x {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav .hamburger.activeHam .fa-bars.hamburger {
    display: none;
  }
  .nav h1 {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    text-align: center;
  }
  .formCon {
    position: absolute;
    height: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100%;
    background-color: var(--color-secondary);
  }
  .formCon.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  form {
    height: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-grid-columns: (0.5fr)[2];
        grid-template-columns: repeat(2, 0.5fr);
    -ms-grid-rows: (0.5fr)[9];
        grid-template-rows: repeat(9, 0.5fr);
    gap: .2rem;
  }
  form input::-webkit-input-placeholder {
    visibility: hidden;
  }
  form input:-ms-input-placeholder {
    visibility: hidden;
  }
  form input::-ms-input-placeholder {
    visibility: hidden;
  }
  form input::placeholder {
    visibility: hidden;
  }
  form input {
    height: 3rem;
  }
  form label {
    -ms-grid-column-align: start;
        justify-self: start;
    font-size: 1.5rem;
    font-weight: bold;
  }
  form label[for='title'] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  form #title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    width: 100%;
  }
  form label[for='date'] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  form #date {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    width: 100%;
  }
  form #pri {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    height: 3rem;
  }
  form label[for='pro'] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
  form #pro {
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
  }
  form label[for='pri'] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  form #addForm {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  form #id {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}
/*# sourceMappingURL=style.css.map */