* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}
html {
  height: 100%;
}

body {
  line-height: 1;
  height: 100vh;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-primary: #15304b;
  --color-secondary:#ef673d;
  --color-white: #FFFFFF;
  --color-black: rgb(41, 41, 41);
  --color-grey-0: #373d4b;
  --color-grey-1: #a3a8a4;
  --color-grey-2: #b2becd;
  --color-grey-3: #d8dee6;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(63, 62, 62, 0.849);
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.main {
  height: 100vh;
  width: 100%;
  cursor: default;
  // background-color: var(--color-grey-1);
  // color: white;
  // position: relative;
  display: flex;
  flex-direction: column;
  .formCon {
    display: none;
  }
  .formCon.active{
    box-shadow: var(--box-shadow-1);
    z-index: 1;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 30%;
    bottom: 60%;
    background-color: white;
    width: 75rem;
    height: 10rem;
    form{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      font-size: 1.5rem;
      width: 75%;
      gap: 1rem;
      label {
        display:none;
      }
      input {
        border: 1px solid rgb(196, 195, 195);
        text-align: center;
      }
      #title {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        width: 100%;
        flex-grow: 4;
      }
      #date {
        grid-column: 2 / 4;
      }
      #desc {
        grid-column: 1 / 2
      }
      #pri {
        flex-grow: 5;
      }
      #addForm {
        grid-column: 2 / 4;
      }
    }
  }
  .nav {
    
    height: 9rem;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    background-color: var(--color-primary);
    h1 {
      line-height: 2;
      color: white;
      // display: inline-block;
      // vertical-align: middle;
      padding: 10px;
    }
  }
  .content {
    display: flex;
    width: 100%;
  }
  .rtCon {
    
    flex-grow: 3;
    min-width: 500px;
    height: 90vh;
    display: flex;
    position: relative;
    justify-content: center;
    // box-shadow: var(--box-shadow-1);
    // justify-self: start;
    
    .rtContent {
      display: flex;
      width: 50%;
      padding: 2rem;
      flex-direction: column;
      gap: 1rem;
      // position: relative;
      > h1 {
        font-size: 3rem;
        font-weight: bold;
      }
      .addBtn {
        // position: absolute;
        font-size: 2rem;
        // bottom: 0;
        // right: 0;
        // left: 2;
      }
      .taskItem {
        width: 100%;
        display: grid;
        grid-template-columns: .01fr 5fr .2fr;
        gap: 1rem;
        font-size: 2rem;
        align-items: center;
        .icon{
          justify-self: end;
          svg {
            font-size: 1.5rem;
            opacity: .7;
            &:hover {
              opacity: 1;
            }
          }
        }
        input:checked + h1 {
          text-decoration: line-through;
          opacity: .5;

        }
      }
      .taskItem:hover, .addBtn:hover {
        background-color: var(--color-grey-2);
      }
    }
  }


  .ltCon {
    min-width: 425px;
    // height: 100%;
    font-size: 2.5rem;
    // box-shadow: var(--box-shadow-1);
    // border-right: 5px solid var(--color-primary);
    background-color: var(--color-secondary);
    cursor: pointer;
    .allCon {
      width: 100%;;
      display: flex;
      flex-direction: column;
      align-content: center;
      gap: 3rem;
      padding: 2rem;
      font-size: 3rem;
      .urgent.active{
        background: var(--color-grey-3);
        border-radius: 5%;
      }
      .home{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .homeItem {
          display: flex;
          color: var(--color-white);
          gap: 1rem;
          &:hover {
            background-color: var(--color-grey-2);
          }
          svg{
            font-size: 2.8rem;
            opacity: 75%;
          }
        }
      }
      h2 {
        font-weight: bold;
        color: var(--color-white)
      }
      .projectContent {
        font-weight: lighter;
        margin-left: .7rem;
        .project:hover {
          background-color: var(--color-grey-2)
         
        }
      }
    }
  }
}

.fa-github {
  color: var(--primary-light);
  font-size: 22px;
  transition: transform 0.3s ease-in-out;
}
// Form

// form {
//   display: none;
// }
